@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease-in, color 0.5s ease-in;
}

nav a {
  padding: 20px;
  border-right: 1px black;
  border-style: dashed;
  align-content: center;
}
nav a:hover {
  color: white;
  background-color: black;
}

.sun-div {
}

.sun {
  display: block;
}

.sun-outline {
  display: none;
}

.sun-div:hover .sun {
  display: none;
}

.sun-div:hover .sun-outline {
  display: block;
}

.sun.hidden {
  display: none;
}

.sun-outline.hidden {
  display: block;
}

.sun-div:hover .sun.hidden {
  display: block;
}

.sun-div:hover .sun-outline.hidden {
  display: none;
}
